$--color-main: #0e3259;
$--color-transparent: transparent;
$--color-white: #fff;
$--color-text: #333;
$--color-hover-yellow: #fee600;
$--color-border-black: #d9d9d9;
$--color-red: #ec3237;
$--color-text-table: #2c4798;
$--color-border-table: #d9d9d9;
$--color-border-update-ani: #e8e6ef;
$--color-date: #818181;

$--bgc-header-table: #898989;
$--bgc-body-table: #ececec;
$--bgc-footer: #ebebeb;
$--bgc-slide-update-animals: #f8f8f8;
$--bgc-dot: #999;

$--height-header: 120px;
$--height-header-tl: 90px;
$--height-header-mb: 60px;
$--height-select: 35px;
$--height-lists-tab: 48%;

$--width-select: 255px;
$--width-select-mb: 200px;
$--width-logo-tl: 50px;
$--width-logo-mb: 30px;

$--border-radius-clicle: 50%;
