$--color-main: #0e3259;
$--color-transparent: transparent;
$--color-white: #fff;
$--color-text: #333;
$--color-hover-yellow: #fee600;
$--color-border-black: #d9d9d9;

$--height-header: 120px;
$--height-header-mb: 90px;
